<template >
  <div class="overflow-auto" id="Inicio">
    <nav class="navbar navbar-dark bg-red">
      <div class="text-center col-12">
        <img class="img" src="./../assets/pokedex.png" alt="" />
      </div>
    </nav>

    <div class="row">
      <div class="col-5 table-wrapper-scroll-y my-custom-scrollbar">
        <table
          class="table table-sm table-bordered table-striped mb-0"
          id="my-table"
        >
          <thead>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Peso</th>
            <th scope="col">Tipo</th>
            <th scope="col">habilidades</th>
          </thead>
          <tr v-for="valor in items" :key="valor.id" @click="seeData(valor)">
            <th scope="row">{{ valor.id }}</th>
            <td>{{ valor.name }}</td>
            <td>{{ valor.weight }}</td>
            <td>
              <div class="row" v-if="valor.types.length > 1">
                <p
                  v-for="type in valor.types"
                  :key="type.id"
                  class="col-6 col-sm-12"
                >
                  {{ type.type[0].name }}
                </p>
              </div>
              <div class="row" v-else>
                <p v-for="type in valor.types" :key="type.id" class="col-12">
                  {{ type.type[0].name }}
                </p>
              </div>
            </td>
            <td>
              <div class="row" v-if="valor.abilities.length == 2">
                <p
                  v-for="ability in valor.abilities"
                  :key="ability.id"
                  class="col-6 col-sm-12"
                >
                  {{ ability.ability[0].name }}
                </p>
              </div>
              <div class="row" v-else-if="valor.abilities.length == 3">
                <p
                  v-for="ability in valor.abilities"
                  :key="ability.id"
                  class="col-4 col-sm-12"
                >
                  {{ ability.ability[0].name }}
                </p>
              </div>
              <div class="row" v-else>
                <p
                  v-for="ability in valor.abilities"
                  :key="ability.id"
                  class="col-12"
                >
                  {{ ability.ability[0].name }}
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-7">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-12 align-self-center mt-5"
            align="center"
          ><h3>{{pokemon.name}}</h3></div>
        </div>
        <div class="row">
          
          <div
            class="col-12 col-sm-12 col-md-6 align-self-center"
            align="center"
          >
            <img class="img-g" id="Sprite-front" src="" />
          </div>
          <div
            class="col-12 col-sm-12 col-md-6 align-self-center"
            align="center"
          >
            <img class="img-g" id="Sprite-back" src="" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6" align="center">{{ Description }}</div>
              <div class="col-6" align="center">
                <p
                  v-for="evol in Evolution"
                  :key="evol.id"
                  class="col-sm-4 col-4 col-md-12"
                  
                >
                  {{ evol }}
                </p>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-6">
        <p class="mt-3">Current Page: {{ currentPage }}</p>
      </div>
      <div class="col-6">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          first-number
          last-number
          @change="getPokemon"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import getAllpokemon from "../services/getAllpokemon";
import getInfo from "../services/getInfo";
import Swal from "sweetalert2";
export default {
  name: "Inicio",
  components: {},
  methods: {
    getPokemon(currentPage) {
      Swal.showLoading();
      getAllpokemon.getPokemon(currentPage).then((Response) => {
        Swal.hideLoading(Swal.clickConfirm());
        this.items = Response.data.listPokemons;
        const parsed = JSON.stringify(this.items);
        localStorage.setItem('items', parsed);
        localStorage.setItem('currentPage', currentPage);
        this.seeData(this.items[0]);
      });
    },
    seeData(pokemon) {
      const parsed = JSON.stringify(pokemon);
      localStorage.setItem('pokemon', parsed);
      this.pokemon = pokemon;
      document.getElementById("Sprite-front").src = pokemon.sprites.front_default;
      document.getElementById("Sprite-back").src = pokemon.sprites.back_default;
      this.getInfo(pokemon.id);
    },
    getInfo(id){
      getInfo.getDescription(id).then((Response) => {
        this.Description = Response.data;
      });
      getInfo.getEvolution(id).then((Response) => {
        this.Evolution = Response.data;
      });
    },
  },
  data() {
    return {
      Description: "",
      Evolution: "",
      rows: 45,
      perPage: 1,
      currentPage: 1,
      items: {},
      pokemon: {},
    };
  },
  mounted() {
    if (localStorage.getItem('items')) {
      this.items =  JSON.parse(localStorage.getItem('items'));
      this.currentPage = JSON.parse(localStorage.getItem('currentPage'));
      if (localStorage.getItem('pokemon')) {
        this.pokemon =  JSON.parse(localStorage.getItem('pokemon'));
        this.seeData(this.pokemon);
      } 
    } else {
      this.getPokemon(1);
    }
  },
  created() {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.my-custom-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.row {
  margin: 0px !important;
}
.bg-red {
  background-color: #fe5d5d !important;
}
.img {
  width: 324px;
  height: 55px;
}
.img-g {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .img-g {
    width: 50%;
    height: 50%;
  }
}
</style>
